table {
  border-collapse: collapse;
  border: 2px solid grey;
  background-color: lightcyan;
}
th {
  border: 1px solid grey;
  padding: 14px 14px;
}
th:hover {
  border: 1px solid grey;
  padding: 14px 14px;
  background-color: cyan;
}
