<div class="margin">
  <table style="width: 100%;">
    <div cdkDropListGroup>
      <tr *ngFor="let item of fleet">
        <td
          *ngFor="let subItem of item.children"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
        >
          <div cdkDrag class="box">{{ subItem.item }}</div>
        </td>
      </tr>
    </div>
  </table>
  <label> arr = {{ tableData | json }} </label>
</div>

<div cdkDropListGroup>
  <div class="example-container" *ngFor="let f of tableData">
    <div class="example-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of f" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>
</div>

<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>
  <label> arr = {{ done | json }} </label>
</div>

<div class="margin">
  <h1>Table {{ size }}</h1>
  <input type="number" [(ngModel)]="size" />
  <button (click)="foo(size)">PRESS</button>

  <table class="margin">
    <tr *ngFor="let item of arr; let trIndex = index">
      <td
        *ngFor="let item of arr; let tdIndex = index"
        (click)="push(trIndex, tdIndex)"
        [class]="sign[trIndex][tdIndex]"
        class="battlefield-cell battlefield-cell__busy battlefield-cell__done"
      >
        <div class="battlefield-cell-content">
          <span class="z"></span>
        </div>
      </td>
    </tr>
  </table>
  <label> arr = {{ arr | json }} sign = {{ sign | json }} </label>
</div>

<div class="margin">
  <div style="display: flex;" class="divcss">
    <div
      cdkDropList
      [cdkDropListData]="artists"
      [cdkDropListConnectedTo]="secondList"
      #firstList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      style="width: 30%;"
    >
      <div *ngFor="let artist of artists" class="pop" cdkDrag>{{ artist }}</div>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="alteArtists"
      [cdkDropListConnectedTo]="firstList"
      #secondList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      style="width: 30%;"
    >
      <div *ngFor="let artist of alteArtists" class="pop" cdkDrag>
        {{ artist }}
      </div>
    </div>
  </div>
  <div
    class="margin"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    class="divcss"
  >
    <div *ngFor="let artist of artists" class="pop" cdkDrag>{{ artist }}</div>
  </div>

  <div class="margin">
    <td class="battlefield-cell battlefield-cell__busy">
      <div class="battlefield-cell-content" data-y="2" data-x="5">
        <span class="z"></span>&nbsp;
        <div
          data-id="JmTQRvOYiE3O"
          data-length="1"
          data-position="h"
          class="ship-box ship-box__h ui-draggable ship-box__draggable"
          style="
            width: 2em;
            height: 2em;
            padding-right: 0px;
            padding-bottom: 0px;
            left: 0px;
            top: 0px;
            margin: -2px;
          "
        ></div>
      </div>
    </td>
  </div>
</div>
