<body>
  <form class="form-signin" [formGroup] = "loginGroup" (ngSubmit)="this.loginWithPassword()">

<div class="form-label-group required">
  <label for="inputUsername">Username</label>
  <input  id="inputUsername" class="form-control"
   autofocus="" formControlName = "username">

</div>

<div class="form-label-group required">
  <label for="inputPassword">Password</label>
  <input type="password" id="inputPassword" class="form-control"
   required="" formControlName = "password">

</div>


<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginGroup.valid"
>Sign in</button>

<button type="button" class="btn btn-lg btn-secondary btn-block" (click) = "this.login()" >Sign in with identity</button>

<div class = "internalLog">
  <a href="#" class ="google-reg"></a>
</div>

<div class = "internalLog">
  <a href="#" class ="vk-reg"></a>
</div>
</form>


</body>
