<body>
  <form class="form-signin" [formGroup] = "loginGroup" (ngSubmit)="this.loginWithPassword()">

<div class="form-label-group">
  <input  id="inputUsername" class="form-control"
  placeholder="UserName" autofocus="" formControlName = "username">
  <label for="inputUsername">Username</label>
</div>

<div class="form-label-group">
  <input type="password" id="inputPassword" class="form-control"
   placeholder="Password" required="" formControlName = "password">
  <label for="inputPassword">Password</label>
</div>

<div class="checkbox mb-3">
  <label>
    <input type="checkbox" value="remember-me" formControlName = "remember"> Remember me
  </label>
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginGroup.valid"
>Sign in</button>

<button class="btn btn-lg btn-secondary btn-block" (click) = "this.login()" >Sign in with identity</button>

<div class = "internalLog">
  <a href="#" class ="google-reg"></a>
</div>

<div class = "internalLog">
  <a href="#" class ="vk-reg"></a>
</div>
</form>


</body>
