<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

    <img src="./../../../../assets/Logo.png" alt="logo" class = "logoImg" >

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home" routerLinkActive = "active">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/statistic" routerLinkActive = "active">Statistic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/text" routerLinkActive = "active">Text</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/users" routerLinkActive = "active">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" (click)="this.logout()" >Logout</a>
        </li>
      </ul>

    </div>
    <div>
      <p class = "welcome" *ngIf="this.user$ | async; let u">Welcome, {{ u.preferred_username }} !</p>
      </div>

</nav>
