
<div class="container">
  <div class="btn-group ">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Hard
    </button>
    <div class="dropdown-menu dropdown-menu_easy">
      <ul>
        <li  *ngFor="let text of textset">{{text.Name}}</li>
    </ul>
    </div>
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Medium
    </button>
    <div class="dropdown-menu dropdown-menu_medium">

    </div>
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Easy
    </button>
    <div class="dropdown-menu dropdown-menu_easy">

    </div>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" >
      All
    </button>
    <div class="dropdown-menu dropdown-menu_easy">
      <ul>
        <li>sedfsdf</li>
        <li>dsfsa</li>
        <li  *ngFor="let text of textset">{{text.Name}}</li>
    </ul>
    </div>
  </div>
  <div class="wrapper-textset">

    <div class="blog-post">
      <h2 class="blog-post-title">{{textset.Name || 'Unknown'}}</h2>
      <p class="blog-post-level">{{textset.LevelOfText || 'Unknown'}}</p>
      <p>{{textset.TextForTyping || 'Text is disable'}}</p>
    </div>
  </div>
  </div>
