.blog-post{
  color: #fff;
}

.blog-post-title{
  color: rgb(206, 180, 180)
}

.blog-post-level{
color: rgb(197, 230, 184)
}

.wrapper-textset{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
