<div class="row">
  <div class="column" [ngClass]="{ disabled: isOwnAreaDisabled }">
    <app-own-area></app-own-area>
  </div>
  <div class="column" [ngClass]="{ disabled: isEnemyAreaDisabled }">
    <app-enemy-area></app-enemy-area>
  </div>
</div>

<div>
  <button
    style="margin-top: 2.4em"
    class="btn btn-lg btn-primary btn-block"
    (click)="generateFleet()"
    [ngClass]="{ disabled: isOwnAreaDisabled }"
  >
    generate fleet
  </button>
  <button
    class="btn btn-lg btn-primary btn-block"
    (click)="deleteFleet()"
    [ngClass]="{ disabled: isOwnAreaDisabled }"
  >
    delete fleet
  </button>

  <button
    class="btn btn-lg btn-primary btn-block"
    (click)="uploadFleet()"
    [ngClass]="{ disabled: isOwnAreaDisabled }"
  >
    Upload Area
  </button>

  <button class="btn btn-lg btn-primary btn-block" (click)="doSmt()">
    ng-disabled Directive
  </button>
</div>
