<body>
  <form class="form-signin" [formGroup]="registrationGroup" autocomplete="off" (submit)="onSubmit()">
    <div class="form-label-group required">
        <label>Username</label>
        <input  class="form-control" formControlName="UserName">
        <label class="text-danger" *ngIf="registrationGroup.get('UserName').touched && registrationGroup.get('UserName').errors?.required">This field is mandatory</label>
    </div>
    <div class="form-label-group required">
        <label>Email</label>
        <input  class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="registrationGroup.get('Email').touched && registrationGroup.get('Email').errors?.required">This field is mandatory</label>
        <label class="text-danger" *ngIf="registrationGroup.get('Email').touched && registrationGroup.get('Email').errors?.email">Invalid email address</label>
    </div>
    <div formGroupName="Passwords">
        <div class="form-label-group required">
            <label>Password</label>
            <input  type="password" class="form-control" formControlName="Password">
            <label class="text-danger" *ngIf="registrationGroup.get('Passwords.Password').touched && registrationGroup.get('Passwords.Password').errors?.required">This field is mandatory</label>
        </div>
        <div class="form-label-group required">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class="text-danger" *ngIf="registrationGroup.get('Passwords.ConfirmPassword').touched && registrationGroup.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory</label>
            <label class="text-danger" *ngIf="registrationGroup.get('Passwords.ConfirmPassword').touched && registrationGroup.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm password doesn't match</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-label-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="!registrationGroup.valid">Sign Up</button>
        </div>
    </div>
</form>
</body>
